/* AccordionPanel.css */

.panel {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 100px;
  width: 60px;
  min-width: 60px;
  background-color: inherit;
  transition: width 0.5s ease;
}

.panel-title {
  font-size: 20px;
  transform: rotate(90deg);
  transition: transform 1s ease;
}

.panel.active {
  width: 100%;
  justify-content: start;
}

.panel.active .panel-title {
  transform: rotate(0deg);
}

.panel-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.panel-icon {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}

.active-header {
  justify-content: start;
  padding-left: 60px;
  padding-top: 60px;
  z-index: 100;
}

.inactive-header {
  position: relative;
  flex-direction: column;
  flex: 1;
  justify-content: start;
  gap: 500px;
  padding: 60px 5px;
  align-items: center;
}
